
<div class="item nav">
    <div class="account">
        {%if current_user.is_authenticated %}
            <img src="../static/149e19f87afe0925d7b84ed81f2db766.jpq" alt="">
            <a href="login">Имя пользователя</a>
        {% else %}
            <img src="../static/149e19f87afe0925d7b84ed81f2db766.jpq" alt="">
            <a href="login">Войти</a>
        {% endif %}

    </div>
    <input class="form-control search" list="datalistOptions" id="exampleDataList" placeholder="🔍 Поиск недвижимости...">
    <datalist id="datalistOptions">
        <option value="Дома">
        <option value="Квартиры">
        <option value="Студии">
        <option value="Гаражи">
        <option value="Участки">
    </datalist> 
            
    <div class="filtr">
        <a href="/filtr"><i class="bi bi-sliders2"></i> Фильтр</a>
    </div>
            
    <div class="day">
        <p><i class="bi bi-calendar-check"></i> Ежемесячно</p>
        <p><i class="bi bi-calendar-week"></i> Посуточно</p>
    </div>
            
    <div class="object">
        <p><a href="/"><i class="bi bi-house-door"></i> Главная</a></p>
        <p><a href="/hometype/"><i class="bi bi-building"></i> Дома</a></p>
        <p><a href="/garagestype/"><i class="bi bi-car-front"></i> Гаражи</a></p>
        <p><a href="/apartamenttype/"><i class="bi bi-building"></i> Квартиры</a></p>
        <p><a href="/plottype/"><i class="bi bi-tree"></i> Участки</a></p>
        <p><a href="/othertype/"><i class="bi bi-grid-3x3-gap-fill"></i> Прочее</a></p>
    </div>
</div>