.body{
    background-color: rgb(202, 223, 240);
    font-family: 'Times New Roman', Times, serif;
}
.button{
    border-radius: 15px;
    background-color: rgb(120, 196, 196);
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column ;
    text-align: center;
    width: 43%;
    margin: 0 auto;
    margin-top: 45px;
}

.form * {margin-bottom: 10px;}