{% extends "base.html" %}

{% block head %}

    <title>Квартиры | Жилье победы</title>
    <link rel="stylesheet" href="../static/card.css">
    <link rel="stylesheet" href="../static/sidebar.css">
    <link rel="stylesheet" href="../static/futer.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/apartamenttype.css">

    
    <style>

    </style>

{% endblock %}
{% block content %}


        <!-- Хедер -->
        <div class="item header">
            <h1 class="live">Жилье победы</h1>
            <h2>Квартиры в городе</h2>
        </div>

        <!-- Каталог квартир -->
        <div class="catalog">
            {% for obj in objects %}
            <div>
                <img src="https://mir-s3-cdn-cf.behance.net/project_modules/2800_opt_1/1bb62b173688629.6494486213c8f.jpg" alt="Квартира">
                <h2>{{ obj[1] }}</h2>
                <div class="price-box">
                        <span class="price">{{obj[4]}}</span>
                        {% if obj[6] == 1 %}
                            <span>в месяц</span>
                        {% elif obj[6] == 2 %}
                            <span>в сутки</span>
                        {% else %}
                            <span></span>
                        {% endif %}
                    </div>
            </div>
            {% endfor %}
        </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

     {% endblock %}