{% extends "base.html" %}

{% block head %}
    <title>Дома | Жилье победы</title>
    <link rel="stylesheet" href="../static/card.css">
    <link rel="stylesheet" href="../static/futer.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/header.css">
     <link rel="stylesheet" href="../static/hometype.css">

{% endblock %}

{% block content %}
        <!-- Хедер -->
        <div class="item header">
            <h1 class="live">Жилье победы</h1>
            <h2>Дома и коттеджи</h2>
        </div>

        <!-- Каталог домов -->
        <div class="item content">
            <div class="catalog">
                {% for obj in objects %}
                <div>
                    <img src="https://avatars.mds.yandex.net/i?id=925e856a5f5273ed0c22259d8d130e37d2763549-12752873-images-thumbs&n=13" alt="Дом">
                    <h2>{{ obj[1] }}</h2>
                    <div class="price-box">
                        <span class="price">{{obj[4]}}</span>
                        {% if obj[6] == 1 %}
                            <span>в месяц</span>
                        {% elif obj[6] == 2 %}
                            <span>в сутки</span>
                        {% else %}
                            <span></span>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}