{% extends "base.html" %}

{% block head %}
    <title>Жилье победы - современный риелторский портал</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/card.css">
    <link rel="stylesheet" href="../static/futer.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/main.css">

{% endblock %}

{% block content %}
        <!-- Хедер -->
        <div class="item header">
            <h1 class="live">🏆 Жилье победы 🏆</h1>
        </div>

        <!-- Основной контент -->
        <div class="item content">
            <h2>👥 Наши лучшие риэлторы</h2>
            
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- Первый слайд -->
                    <div class="carousel-item active">
                        <div class="row g-4">
                            <div class="col-md-4">
                                <img src="https://cs15.pikabu.ru/post_img/2024/12/01/2/og_og_1733012497285696993.jpg" alt="Адам">
                                <h3>Адам ⭐</h3>
                            </div>
                            <div class="col-md-4">
                                <img src="https://avatars.mds.yandex.net/i?id=6f889b2563694c53ad03875da76d8f37_l-11377357-images-thumbs&n=13" alt="Джеффри">
                                <h3>Джеффри ⭐</h3>
                            </div>
                            <div class="col-md-4">
                                <img src="https://avatars.mds.yandex.net/i?id=bfc21f5f817d0b87923455004b4af311_l-3949311-images-thumbs&n=13" alt="Мелания">
                                <h3>Мелания ⭐</h3>
                            </div>
                        </div>
                    </div>
                    <!-- Второй слайд -->
                    <div class="carousel-item">
                        <div class="row g-4">
                            <div class="col-md-4">
                                <img src="https://img.gazeta.ru/files3/686/21345686/1-pic_32ratio_900x600-900x600-26932.jpg" alt="Василий">
                                <h3>Василий ⭐</h3>
                            </div>
                            <div class="col-md-4">
                                <img src="https://avatars.mds.yandex.net/i?id=323a4ca658c5418d63fe680f6ecaa8c73ca615bf-5558644-images-thumbs&n=13" alt="Влад">
                                <h3>Влад ⭐</h3>
                            </div>
                            <div class="col-md-4">
                                <img src="https://bryansk.all-zabor.ru/images/reviews/rev2.png" alt="Мирослава">
                                <h3>Мирослава ⭐</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>

            <h2>🏘️ Актуальные предложения</h2>
            <div class="catalog">
                {% for obj in objects %}
                <a href="object/{{ obj[0] }}">
                    <div>
                        <img src="https://avatars.mds.yandex.net/i?id=925e856a5f5273ed0c22259d8d130e37d2763549-12752873-images-thumbs&n=13" alt="Недвижимость">
                        <h2>{{obj[1]}}</h2>
                        <div class="price-box">
                            <span class="price">{{obj[4]}}</span>
                            {% if obj[6] == 1 %}
                                <span>в месяц</span>
                            {% elif obj[6] == 2 %}
                                <span>в сутки</span>
                            {% else %}
                                <span></span>
                            {% endif %}
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
{% endblock %}