{% extends "base.html" %}

{% block head %}

    <title>Земельные участки | Жилье победы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/card.css">
    <link rel="stylesheet" href="../static/sidebar.css">
    <link rel="stylesheet" href="../static/futer.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/plottype.css">

{% endblock %}
{% block content %}

        <!-- Хедер -->
        <div class="item header">
            <h1 class="live">Жилье победы</h1>
            <h2>Земельные участки</h2>
        </div>

        <!-- Каталог участков -->
        <div class="catalog">
            {% for obj in objects %}
            <div>
                <img src="https://avatars.mds.yandex.net/i?id=925e856a5f5273ed0c22259d8d130e37d2763549-12752873-images-thumbs&n=13" alt="Земельный участок">
                <h2>{{ obj[1] }}</h2>
                <div class="price-box">
                    <span class="price">{{obj[4]}}</span>
                    {% if obj[6] == 1 %}
                        <span>в месяц</span>
                    {% elif obj[6] == 2 %}
                        <span>в сутки</span>
                    {% else %}
                        <span></span>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
        
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

     {% endblock %} 