<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="../static/auch.css">
    <title>Document</title>

</head>
<body>
    <div class="div">
<form method="POST">
    <h2>Регистрация</h2>
    {%for alert in get_flashed_messages()%}
        <div class="alert" style="background-color: {{ alert[1] }}">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">×</span>
          	{{ alert[0] }}
        </div>
    {%endfor%}
        	{{ form.hidden_tag() }}
        	<p>{{ form.username.label }}<br>{{ form.username() }}</p>
        	<p>{{ form.password.label }}<br>{{ form.password() }}</p>
        	{{ form.submit() }}
        </form>
        <div class="a">
        <a href="login">Вход в аккаунт</a>
        </div>
    </div>
</body>
</html>